<section>
  <banner [title]="'الرسم الهندسي'"></banner>
  <div class="container">
    <nav class="nav-breadcrumb py-3 fs-6 fw-medium border-bottom border-light-subtle" aria-label="breadcrumb">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a routerLink="/">{{'breadcrumb.home' | translate}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/courses">{{'breadcrumb.courses' | translate}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/courses"></a>{{ course.category }}</li>
        <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
      </ol>
    </nav>
  </div>
  <div class="banner">
    <div class="container" data-aos="fade-down" data-aos-duration="1000">
      <div class="row">
        <div class="col-lg-2 col-md-0"></div>
        <div class="col-lg-8 col-md-12">
          <div class="course-info">
            <h1 class="fs-1 mb-4">{{ course.title }}</h1>
            <p>{{ course.descr }}
            </p>
          </div>
          <div class="course-mate gap-4">
            <div class="course-auth d-flex gap-2">
              <img src="../../../assets/images/cardLogo.jpeg" class="rounded-circle" alt="logo" loading="lazy"
                width="40" height="40">
              <div class="auth">
                <h4>المدرس</h4>
                <h4>{{ course.name }}</h4>
              </div>
            </div>
            <div class="hr rounded"></div>
            <div class="course-categories d-flex gap-2">
              <div class="auth">
                <h4>الأقسام</h4>
                <a>
                  <h4>{{ course.category }}</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-0"></div>
      </div>
    </div>
  </div>
  <div class="course-details mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12">
          <div class="tab-left mb-3 w-100 shadow" data-aos="fade-down" data-aos-duration="1000">
            <div class="video" style="max-height: 345px;">
              <video width="100%" height="100%" controls
                src= 
                {{course.vidsrc}} ></video>
              <!-- <iframe width="100%" height="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen allow="autoplay" src="https://player.vimeo.com/video/860577478?dnt=1&app_id=122963">
              </iframe> -->
            </div>
            <div class="container py-4">
              <div class="price d-flex gap-2">
                <h1 class="old-price">{{ course.price }}</h1>
                <h1 class="new-price">{{ course.newPrice }}</h1>
              </div>
              <div class="btns pt-4 w-100">
                <button class="btn btn-warning btn-lg w-100" (click)="addToCart()">إضافة إلى السلة</button>
              </div>
              <div class="includes pt-4">
                <div class="include-item d-flex align-items-center gap-2 my-2">
                  <i class='bx bx-book-open color fs-5'></i>
                  <p> الدروس {{ course.nlessons }} </p>
                </div>
                <div class="include-item d-flex align-items-center gap-2 my-2">
                  <i class='bx bx-task color fs-5'></i>
                  <p> الإختبارات {{ course.nexams }} </p>
                </div>
                <div class="include-item d-flex align-items-center gap-2 my-2">
                  <i class='bx bx-time color fs-5'></i>
                  <p> المدة {{ course.duration }} ساعات  </p>
                </div>
                <div class="include-item d-flex align-items-center gap-2 my-2">
                  <i class='bx bxs-arrow-from-bottom color fs-5'></i>
                  <p>مستوى المهارة جميع المستويات</p>
                </div>
                <div class="include-item d-flex align-items-center gap-2 my-2">
                  <i class='bx bx-transfer-alt color fs-5'></i>
                  <p>اللغة {{ course.lang }} </p>
                </div>
                <div class="include-item d-flex align-items-center gap-2 my-2">
                  <i class='bx bxs-graduation color fs-5'></i>
                  <p> {{ course.sub }} طلاب  </p>
                </div>
                <div class="include-item d-flex align-items-center gap-2 my-2">
                  <i class='bx bx-star color fs-5'></i>
                  <p>التقييمات نعم</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12">
          <div class="tab-right" data-aos="fade-down" data-aos-duration="1000">
            <div class="details" data-aos="fade-down" data-aos-duration="1000">
              <p class="mb-4">{{course.longdescr}}</p>
             
            </div>
            <mat-accordion data-aos="fade-down" data-aos-duration="1000">
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title class="d-flex justify-content-between">
                    <div>
                      {{course.title}}
                    </div>
                    <h2 class="color">{{course.nlessons}}</h2>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description *ngFor="let item of courseVideo">
                  <div class="w-100">
                    <div class="row">
                      <div class="d-flex justify-content-between align-items-center border-bottom p-2" style="cursor: pointer;" routerLink="/course-videos/{{course.id}}">
                        <div class="d-flex align-items-center gap-2 my-2">
                          <i class='bx bx-file-blank color fs-6'></i>
                          <div class="d-flex align-items-center gap-3">
                            <h3>{{item.name}}</h3>
                            <h3>{{item.title}}</h3>
                          </div>
                        </div>
                        <i class='bx bxs-lock-alt color fs-6'></i>
                      </div>
                    </div>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="card border-1 mt-4 w-100" data-aos="fade-down" data-aos-duration="1000">
              <div class="card-title">
                <h1 class="px-3 py-2 fw-bold">المدرب</h1>
              </div>
              <hr style="width: 95%; margin: auto; border-radius: 1rem;" />
              <div class="card-desc d-flex gap-2 p-3">
                <img src="../../../assets/images/cardLogo.jpeg" alt="image" class="rounded-circle" loading="lazy"
                  width="100" height="100">
                <a>
                  <h3 class="color">{{ course.name }} </h3>
                </a>
              </div>
            </div>
            <div class="recommended my-5" data-aos="fade-down" data-aos-duration="1000">
              <h1 class="color fw-bold my-2">قد يعجبك</h1>
              <div class="cards" data-aos="fade-down" data-aos-duration="1000">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of recommended" data-aos="fade-down"
                    data-aos-duration="1000">
                    <card [img]="item.img" [logo]="item.logo" [name]="item.name" [title]="item.title"
                      [price]="item.price" [newPrice]="item.newPrice" [sub]="item.sub"></card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
