<section>
  <banner [title]="'banner.login' | translate"></banner>
  <div class="content-page">
    <div class="container">
      <div class="row">
        <div class="form-container col-lg-6 col-md-12 mx-auto">
          <mat-card>
            <mat-card-content>
              <div
                class="title text-center text-capitalize my-3"
                data-aos="fade-down" data-aos-duration="1000">
                <h1 class="fw-bold">{{'change-pass.change-pass' | translate}}</h1>
              </div>

              <form [formGroup]="changePassForm" (ngSubmit)="changePass()">

                <mat-form-field appearance="fill" class="my-2" data-aos="fade-down" data-aos-duration="1000">
                  <mat-label>{{'change-pass.old-password' | translate}}</mat-label>
                  <input [type]="hide ? 'password' : 'text'" formControlName="oldPassword" matInput placeholder="**********">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="changePassForm.controls.oldPassword.errors?.['required']">
                    {{'change-pass.password-old-is' | translate}} <strong>{{'change-pass.required' | translate}}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="my-2" data-aos="fade-down" data-aos-duration="1000">
                  <mat-label>{{'change-pass.new-password' | translate}}</mat-label>
                  <input [type]="hide ? 'password' : 'text'" formControlName="newPassword" matInput placeholder="**********">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="changePassForm.controls.newPassword.errors?.['required']">
                    {{'change-pass.password-new-is' | translate}} <strong>{{'change-pass.required' | translate}}</strong>
                  </mat-error>
                  <mat-error *ngIf="changePassForm.controls.newPassword.errors?.['minlength']">
                    {{'change-pass.passMin' | translate}}
                  </mat-error>
                </mat-form-field>

                <div class="button text-center my-3" data-aos="fade-down" data-aos-duration="1000">
                  <button type="submit" class="btn btn-warning rounded w-100 btn-lg" [disabled]="changePassForm.invalid">{{'change-pass.sign-in-now' | translate}}</button>
                </div>
              </form>

            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </div>
  </div>
</section>
