<section>
  <banner [title]="'banner.about' | translate"></banner>
  <div class="container">
    <div class="content-page">
      <div class="text text-center my-4" data-aos="fade-down" data-aos-duration="1000">
        <h2 class="color">شركة الخبير التروي</h2>
        <h1 class="fs-1 fw-bold py-2">خبراء التدريب في المملكة</h1>
      </div>
      <div class="about">
        <div class="row">
          <div class="col-lg-6 col-md-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="images text-center" style="height: 100%; max-height: 451px">
              <img
              src="../../../assets/images/about.png"
              loading="lazy"
              alt="about"
              class="h-100"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="about-details">
              <h1 class="fs-2 fw-bold py-2">شركة الخبير التربوي للتدريب</h1>
              <h1 class="fw-bold py-2 color">+٢٠٠٠٠ متدرباً سنوياً</h1>
              <p class="fs-5 lh-base">
                شركة سعودية تأسست عام 2010 متخصصة في مجالات التدريب والاستشارات
                والتحول التقني والرقمي, ضمن احتياجات سوق العمل المحلية والعالمية
                بما يتناسب مع رؤية المملكة 2030 التي نسعى لتحقيقها من خلال
                استقطاب الكفاءات المحترفة والشراكات الاستراتيجية .
                <br />
                <br />
                بيت الخبرة الأول في المملكة، نؤهل مواردنا ومستشارينا وفريق الدعم
                الفني لإثراء تجربتك. نعكف على صقل مواهب شباب الأمة، ونسعى لريادة
                المجال من أجل مستقبل أفضل تحقيقاً لرؤية المملكة 2030.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
