<section>
  <banner [title]="'banner.register' | translate"></banner>
  <div class="content-page">
    <div class="container">
      <div class="row">
        <div class="form-container col-lg-6 col-md-12 mx-auto">
          <mat-card>
            <mat-card-content>
              <div class="title text-center text-capitalize my-3" data-aos="fade-down" data-aos-duration="1000">
                <h1 class="fw-bold">{{'register.register' | translate}}</h1>
              </div>

              <form [formGroup]="registerForm">

                <mat-form-field appearance="fill" data-aos="fade-down" data-aos-duration="1000">
                  <mat-label>{{'register.fullName' | translate}}</mat-label>
                  <input type="text" matInput formControlName="name" placeholder="Ex. John Doe" />
                  <mat-error *ngIf="registerForm.controls.name.errors?.['required']">
                    {{'register.fullName-is' | translate}} <strong>{{'register.required' | translate}}</strong>
                  </mat-error>
                  <mat-error *ngIf="registerForm.controls.name.errors?.['minlength']">
                    {{'register.fullNameMin' | translate}}
                  </mat-error>
                  <mat-error *ngIf="registerForm.controls.name.errors?.['maxlength']">
                    {{'register.fullNameMax' | translate}}
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" data-aos="fade-down" data-aos-duration="1000">
                  <mat-label>{{'register.email' | translate}}</mat-label>
                  <input type="email" matInput formControlName="email" placeholder="Ex. example@mail.com" />
                  <mat-error *ngIf="registerForm.controls.email.errors?.['required']">
                    {{'register.email-is' | translate}} <strong>{{'register.required' | translate}}</strong>
                  </mat-error>
                  <mat-error *ngIf="registerForm.controls.email.errors?.['email']">
                    {{'register.emailAddress' | translate}}
                  </mat-error>
                </mat-form-field>


                <mat-form-field appearance="fill" data-aos="fade-down" data-aos-duration="1000">
                  <mat-label>{{'register.password' | translate}}</mat-label>
                  <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                  placeholder="**********" />
                  <mat-icon matSuffix (click)="hide = !hide">{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                  <mat-error *ngIf="registerForm.controls.password.errors?.['required']">
                    {{'register.password-is' | translate}} <strong>{{'register.required' | translate}}</strong>
                  </mat-error>
                  <mat-error *ngIf="registerForm.controls.password.errors?.['pattern']">
                    {{'register.password-pattern' | translate}}
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="mb-1" appearance="fill" data-aos="fade-down" data-aos-duration="1000">
                  <mat-label>
                    {{'register.confirm-password' | translate}}
                  </mat-label>
                  <input [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" matInput
                    placeholder="**********" />
                    <mat-icon matSuffix (click)="hide = !hide">{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                    <mat-error *ngIf="registerForm.controls.confirmPassword.errors?.['required']">
                    {{'register.confirm-password-is' | translate}} <strong>{{'register.required' | translate}}</strong>
                  </mat-error>
                  <mat-error *ngIf="confirmPassword?.value !== password?.value">
                    {{'register.confirm-the' | translate}}
                  </mat-error>
                </mat-form-field>
                <!-- <span class="error" *ngIf="confirmPassword?.value !== password?.value">
                  Confirm the password is different from the password
                </span> -->


                <div class="button text-center my-3" data-aos="fade-down" data-aos-duration="1000">
                  <button type="button" class="btn btn-warning w-100 btn-lg" [disabled]="registerForm.invalid" (click)="register()">
                    {{'register.register-now' | translate}}
                  </button>

                </div>
              </form>

              <div class="login-signup my-4 text-center" data-aos="fade-down" data-aos-duration="1500">
                <span class="text">{{'register.i-a-member' | translate}}
                  <a class="title color" routerLink="/login">{{'register.sign-in-now' | translate}} </a>
                </span>
              </div>
            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </div>
  </div>
</section>
