footer {
  margin: 2.8rem 0;

  .social-icon a {
    background: #000;
    color: #fff;
    padding: 4px;
    border-radius: 50%;
    font-size: 12px;
    display: inline-block;
    line-height: 0;
  }
}
