section {
  .sec1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/banner25.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    // padding: 170px 0;

    .courses-searching {
      position: relative;

      form {
        width: 540px;
        height: 60px;

        input {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 0;
          outline: none;
          border: none;
          float: left;
          margin: 0;
          padding: 6px 20px;
          background: #fff;
          color: #999;
          font-size: 15px;
          font-style: italic;
          font-weight: 400;
        }

        button {
          background-color: var(--main-color);
          font-size: 20px;
          font-weight: bold;
          width: 60px;
          border: 0;
          border-radius: 0;
          height: 100%;
          position: absolute;
          inset-inline-end: 0;
          inset-block-start: 0;
        }
      }
    }
  }

  .sec2 {
    padding: 50px 0 90px 0;
  }
}

@media (max-width: 600px) {
  form {
    width: 350px !important;
  }
}
