section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/images/bg-page.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0;

  h1 {
    position: relative;
    font-size: 48px;
    letter-spacing: 1.5px;

    &::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      background: var(--main-color);
      inset-inline-start: -20px;
      inset-block-start: 10%;
    }
  }
}
