<section>
  <banner [title]="'banner.courses' | translate"></banner>
  <div class="container">
    <nav class="nav-breadcrumb py-3 fs-6 fw-medium border-bottom border-light-subtle" aria-label="breadcrumb">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a routerLink="/">{{'breadcrumb.home' | translate}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{'breadcrumb.courses' | translate}}</li>
      </ol>
    </nav>
    <div class="content-page">
      <div class="row">
        <div class="col-12">
          <div class="tab-search" data-aos="fade-down" data-aos-duration="1000">
            <div class="icons-layout">
              <a [ngClass]="grid ? 'active' : ''" (click)="grid = true"><i class='bx bxs-grid-alt'></i></a>
              <a [ngClass]="grid ? '' : 'active'" (click)="grid = false"><i class='bx bx-list-ul'></i></a>
            </div>
            <div class="course-index">
              <span>إظهار 1-2 من 2 النتائج</span>
            </div>
            <div class="course-select">
              <mat-form-field>
                <mat-label>أختر</mat-label>
                <mat-select (change)="selectCourse($event)" [(value)]="courseSelect[0]">
                  <mat-option *ngFor="let item of courseSelect" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="course-searching">
              <form>
                <input type="text" name="c_search" [(ngModel)]="searchTerm" placeholder="ابحث في دوراتنا"
                  class="form-control course-search-filter" autocomplete="off">
                <button>
                  <a (click)="search()">
                    <i class='bx bx-search'></i>
                  </a>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="cards" data-aos="fade-down" data-aos-duration="1000">
            <div class="row" *ngIf="grid">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" routerLink="/course-details" *ngFor="let item of courses" data-aos="fade-down"
                data-aos-duration="1000">
                <card [img]="item.img" [logo]="item.logo" [name]="item.name" [title]="item.title" [price]="item.price"
                  [newPrice]="item.newPrice" [sub]="item.sub"></card>
                </div>
              </div>
              <div class="grid" *ngIf="!grid">
                <div *ngFor="let item of courses" data-aos="fade-down" data-aos-duration="1000">
                  <card-grid [img]="item.img" [logo]="item.logo" [name]="item.name" [title]="item.title" [price]="item.price"
                  [desc]="item.desc"  [newPrice]="item.newPrice" [sub]="item.sub"></card-grid>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
