<section>
  <banner [title]="'banner.checkout' | translate"></banner>
  <div class="container">
    <nav
      class="nav-breadcrumb py-3 fs-6 fw-medium border-bottom border-light-subtle"
      aria-label="breadcrumb"
    >
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
          <a routerLink="/">{{ "breadcrumb.home" | translate }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ "breadcrumb.checkout" | translate }}
        </li>
      </ol>
    </nav>
    <div class="content-page">
      <h3
        class="account py-4 d-flex gap-2"
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        <span>{{ "checkout.noAccount" | translate }}</span>
        <a routerLink="/register">{{
          "checkout.registerAccount" | translate
        }}</a>
        <span>{{ "checkout.newUser" | translate }}</span>
        <a routerLink="/login">{{ "checkout.loginAccount" | translate }}</a>
      </h3>
      <div class="content">
        <div class="row">
          <div class="col-lg-6 col-md-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="form card p-4">
              <h1
                class="fw-bold pb-4"
                data-aos="fade-down"
                data-aos-duration="1000"
              >
                {{ "checkout.form.form-title" | translate }}
              </h1>
              <form [formGroup]="checkoutForm">
                <mat-form-field
                  appearance="fill"
                  class="w-100"
                  data-aos="fade-down"
                  data-aos-duration="1000"
                >
                  <mat-label>{{
                    "checkout.form.fullName" | translate
                  }}</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="name"
                    placeholder="Ex. John Doe"
                  />
                  <mat-error
                    *ngIf="checkoutForm.controls.name.errors?.['required']"
                  >
                    {{ "checkout.form.fullName-is" | translate }}
                    <strong>{{ "checkout.form.required" | translate }}</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="checkoutForm.controls.name.errors?.['minlength']"
                  >
                    {{ "checkout.form.fullNameMin" | translate }}
                  </mat-error>
                  <mat-error
                    *ngIf="checkoutForm.controls.name.errors?.['maxlength']"
                  >
                    {{ "checkout.form.fullNameMax" | translate }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  class="w-100"
                  data-aos="fade-down"
                  data-aos-duration="1000"
                >
                  <mat-label>{{
                    "checkout.form.addressLabel" | translate
                  }}</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="address"
                    placeholder="{{ 'checkout.form.addressLabel' | translate }}"
                  />
                  <mat-error
                    *ngIf="checkoutForm.controls.address.errors?.['required']"
                  >
                    {{ "checkout.form.address" | translate }}
                    <strong>{{ "checkout.form.required" | translate }}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  class="w-100"
                  data-aos="fade-down"
                  data-aos-duration="1000"
                >
                  <mat-label>{{ "checkout.form.city" | translate }}</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="city"
                    placeholder="Ex. cairo"
                  />
                  <mat-error
                    *ngIf="checkoutForm.controls.city.errors?.['required']"
                  >
                    {{ "checkout.form.city" | translate }}
                    <strong>{{ "checkout.form.required" | translate }}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  class="w-100"
                  data-aos="fade-down"
                  data-aos-duration="1000"
                >
                  <mat-label>{{ "checkout.form.phone" | translate }}</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="phone"
                    placeholder="Ex. +201010101010"
                  />
                  <mat-error
                    *ngIf="checkoutForm.controls.phone.errors?.['required']"
                  >
                    {{ "checkout.form.phone" | translate }}
                    <strong>{{ "checkout.form.required" | translate }}</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="checkoutForm.controls.phone.errors?.['pattern']"
                  >
                    {{ "checkout.form.phone-pattern" | translate }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  class="w-100"
                  data-aos="fade-down"
                  data-aos-duration="1000"
                >
                  <mat-label>{{ "checkout.form.email" | translate }}</mat-label>
                  <input
                    type="email"
                    matInput
                    formControlName="email"
                    placeholder="Ex. example@mail.com"
                  />
                  <mat-error
                    *ngIf="checkoutForm.controls.email.errors?.['required']"
                  >
                    {{ "checkout.form.email" | translate }}
                    <strong>{{ "checkout.form.required" | translate }}</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="checkoutForm.controls.email.errors?.['email']"
                  >
                    {{ "checkout.form.emailAddress" | translate }}
                  </mat-error>
                </mat-form-field>
              </form>
            </div>
          </div>
          <div class="col-lg-6 col-md-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="request card p-4" data-aos="fade-down" data-aos-duration="1000">
              <h1 class="fw-bold pb-4"
              >
                {{ "checkout.table.table-title" | translate }}
              </h1>
              <div class="table py-2">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">
                        {{ "checkout.table.product" | translate }}
                      </th>
                      <th scope="col">
                        {{ "checkout.table.price" | translate }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of products">
                      <td scope="row">{{ item.title }} * 1</td>
                      <td>ر.س{{ item.price }}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>{{ "checkout.table.subTotal" | translate }}</th>
                      <td>ر.س{{ total }}</td>
                    </tr>
                    <tr>
                      <th>{{ "checkout.table.total" | translate }}</th>
                      <td>ر.س{{ total }}</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="coupons card my-4 p-4" data-aos="fade-down" data-aos-duration="1000">
              <h3 class="d-flex gap-2">
                {{ "checkout.coupons.coupon?" | translate }}
                <a class="color" (click)="_coupon = !_coupon">{{
                  "checkout.coupons.click-coupon" | translate
                }}</a>
              </h3>
              <form [formGroup]="couponForm" class="box pt-2" *ngIf="_coupon" data-aos="fade-down" data-aos-duration="1000">
                <h4 class="fw-bold">
                  {{ "checkout.coupons.title-coupon" | translate }}
                </h4>
                <div class="coupon-input d-flex gap-2">
                  <mat-form-field
                    appearance="fill"
                    class="w-75"
                    data-aos="fade-down"
                    data-aos-duration="1000"
                  >
                    <mat-label>{{
                      "checkout.coupons.coupon" | translate
                    }}</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="coupon"
                      placeholder="Ex. coupon123"
                    />
                    <mat-error
                      *ngIf="couponForm.controls.coupon.errors?.['required']"
                    >
                      {{ "checkout.coupons.coupon" | translate }}
                      <strong>{{
                        "checkout.coupons.required" | translate
                      }}</strong>
                    </mat-error>
                  </mat-form-field>
                  <div class="btns">
                    <button
                      class="btn btn-outline-warning btn-lg"
                      [disabled]="couponForm.invalid"
                      (click)="coupon()"
                    >
                      {{ "checkout.coupons.apply" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn-checkout card p-4" data-aos="fade-down" data-aos-duration="1000">
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group">
                <mat-radio-button
                  class="example-radio-button"
                  *ngFor="let check of listCheckout"
                  [value]="check.name" checked="check[0].name"
                >
                  {{ check.name }}
                  <img [src]="check.img" loading="lazy" alt="visa" class="px-1" height="28">
                </mat-radio-button>
              </mat-radio-group>
              <div class="btns">
                <button class="btn btn-outline-success w-100" [disabled]="checkoutForm.invalid" (click)="checkout()">{{'checkout.confirmation' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
